
body {
  background-color: rgb(6, 0, 61);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: black;
  position: relative;
}

#walker {
  position: absolute;
  background-color: rgb(172, 172, 172);
  width: 50px;
  height: 50px;
/*   left: 100px; */  /* Uncomment if you want to set a "starting" position */
/*   top: 100px;  */  /* Uncomment if you want to set a "starting" position */
}
