body {
  margin: 0px;
}

canvas {
  background-image: url("https://img.freepik.com/premium-vector/stone-wall-with-green-plants-moss-brick-wall-with-plants-game-background_597121-1311.jpg");
  margin: 20px;
}

img {
  display: none;
}
